.kosarica-main{
	background: #0092c2;
}

.kos-naslov{
	background: #006c85;
	padding: 30px;
	margin-bottom: 250px;
}

.kosarica-main > .kos-naslov > div > h1 > a{
	font-size: 2.5em;
	font-weight: normal;
	text-align: center;
	display: block;
}

.kosarica-main > .kos-naslov > div > h1:nth-child(1) > a{
	color: white;
}

.kosarica-main > .kos-naslov > div > h1:nth-child(2) > a, 
.kosarica-main > .kos-naslov > div > h1:nth-child(3) > a{
	color: #999;
}

.kosarica-main > div > p{
	color: white;
	font-size: 1.6em;
	display: block;
	padding: 30px;
	background: #333;
	position: relative;
}

.kosarica-main > input{
	display: none;
}

.obavjest{
	position: absolute;
	left: 50%;
	margin-left: -600px;
	margin-top: -200px;
}

.kosarica-main > div > label > i{
	color: white;
	position: absolute;
	right: 20px;
	font-size: 2.5em;
	cursor: pointer;
}

.kosarica-main > input:checked ~ .kos-naslov{
	margin-bottom: 30px;
	transition: 300ms 300ms;
}

.kosarica-main > input:checked ~ .obavjest{
	opacity: 0;
	visibility: hidden;
	transition: 300ms;
}

.tablica{
	
}

.tablica article{
	float: left;
	width: 770px;
	padding: 15px 0;
	.border: 1px solid;
}

.tablica article img{
	display: block;
	width: 270px;
	float: left;
	margin-right: 60px;
}

.tablica article h3{
	margin-top: 30px;
	font-size: 1em;
	color: #cfcfcf;
	font-weight: normal;
}

.tablica article h1 a{
	color: white;
	font-size: 2em;
	font-weight: normal;
}

.tablica article h1 a i{
	font-size: 1em;
	font-weight: normal;
}

.tablica article h2{
	color: white;
	font-size: 1.4em;
	font-weight: normal;
}

.tablica article p{
	color: #cfcfcf;
	font-size: 0.875em;
	margin-top: 5px;
}

.tablica aside{
	float: left;
	width: 85px;
	padding: 30px 0;
	margin-left: 30px;
}

.tablica aside label{
	color: white;
	font-size: 1.4em;
	float: left;
	display: block;
	margin-top: 30px;
}

.tablica aside input:nth-of-type(1){
	width: 80px;
	font-size: 1.4em;
	text-align: center;
}

.tablica aside input:nth-of-type(2){
	margin-top: 20px;
	float: left;
	width: 80px;
	font-size: 1em;
	background: none;
	color: white;
	cursor: pointer;
	text-decoration: underline;
	text-align: left;
}

.tablica details{
	margin-left: 60px;
	width: 220px;
	float: left;
}

.tablica details p{
	color: white;
	padding: 90px 0;
	display: block;
	font-size: 1.7em;
}

.kos-suma{
	background: #006c85;
	padding: 30px 0;
	margin-top: 30px;
}

.sumasumarum details{
	width: 100%;
	text-align: center;
}

.sumasumarum details h1{
	color: white;
	display: inline-block;
	font-size: 2em;
	font-weight: normal;
	margin: 15px 5px;
	width: 570px;
	text-align: right;
	float: left;
}

.sumasumarum details p{
	color: white;
	font-size: 2.5em;
	width: 370px;
	margin-left: 20px;
	margin-top: 10px;
	float: left;
	text-align: left;
	display: inline-block;
}

.kos-suma input{
	float: right;
	margin-right: 70px;
	font-size: 1.5em;
	padding: 5px 20px;
	margin: 45px 15px 75px 15px;
	background: #efefef;
}

.kos-suma input:hover{
	background: #0092c2;
	color: white;
}

.disclaimer{
	background: #333;
	color: white;
	padding: 45px 0;
}